# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/


# Virtual environment
venv/
.env/
.envrc/
*.env

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# data
data/

# model
trained_models/

# report
reports/